@use 'style/mixin';

.footer {
  border-top: 1px solid var(--mercury);
  background-color: var(--alabaster);

  margin: 0 -24px;
  margin-top: 24px;
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;

  @include mixin.mobile {
    font-size: 13px;
  }
}

.space {
  height: 24px;
}

.social {
  display: flex;
  justify-self: flex-end;
  img {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    image-rendering: pixelated;
    cursor: pointer;
  }
}
