@font-face {
  font-family: 'PragmataPro Mono PW';
  font-style: normal;
  font-weight: normal;
  src: url('/font/pragmatapro-mono/PragmataPro_Mono_R_0828.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PragmataPro Mono PW';
  font-style: italic;
  font-weight: normal;
  src: url('/font/pragmatapro-mono/PragmataPro_Mono_I_0828.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PragmataPro Mono PW';
  font-style: normal;
  font-weight: bold;
  src: url('/font/pragmatapro-mono/PragmataPro_Mono_B_0828.ttf')
    format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PragmataPro Mono PW';
  font-style: italic;
  font-weight: bold;
  src: url('/font/pragmatapro-mono/PragmataPro_Mono_Z_0828.ttf')
    format('truetype');
  font-display: swap;
}
